<div class="ui floated simple dropdown item">
    <i class="life ring icon"></i>
    <span>{{ 'ikuzo_support.layout.support'|trans }}</span>
    <div class="menu">
        <a href="https://support.ikuzo.fr" class="item" target="_blank">
            <i class="heart outline icon"></i>
            {{ 'ikuzo_support.layout.ticket'|trans }}
        </a>

        <a href="mailto:support@ikuzo.fr" class="item" target="_blank">
            <i class="envelope outline icon"></i>
            {{ 'ikuzo_support.layout.email'|trans }}
        </a>

        <a href="tel:+33988256585" class="item" target="_blank">
            <i class="phone icon"></i>
            {{ 'ikuzo_support.layout.phone'|trans }}
        </a>
    </div>
</div>